@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: #16ff8f;
  --cor-escura: #2d3330;
  --cor-clara: #bcf7db;
  --cor-destaque: #69f5cb;
  --cor-extra: #50c787;
  -cor-escura-extra: #355250;
  --tom-branco: #f2faf5;
  --fonte: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media all and (min-width: 450px) {
  body {
    font-family: var(--fonte);
    background: var(--tom-branco);
    color: #333;
  }

  header {
    background: var(--cor-principal);
    color: var(--cor-escura);
    padding: 1rem 3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  header img {
    width: 40%;
    border: none;
    padding: 0px;
    margin: 0px;
  }

  header .logo {
    margin-left: -40px;
    font-size: 3em;
    font-weight: bold;
  }

  nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    font-weight: bolder;
    font-size: 1.2em;
    list-style: none;
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
  }

  nav ul li {
    margin-left: 1rem;
  }

  nav ul li a {
    color: var(--cor-escura);
    text-decoration: none;
  }

  .dark-mode {
    display: inline-block;
  }

  div button {
    height: 50px;
    width: 120px;
    background-color: var(--cor-destaque);
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 1%;
    transition: 0.15s;
    display: flex;

    color: var(--tom-branco);
  }

  button:hover {
    filter: brightness(0.9);
    color: var(--cor-escura);
  }

  main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.9rem;
    padding: 1rem;
  }

  .articles article {
    background: var(--tom-branco);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }

  .articles article img {
    width: 42vw;
    height: 30vw;
    border-radius: 8px;
  }

  .articles article h2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  .articles article p {
    margin: 0.5rem 0;
  }

  .articles article a {
    display: inline-block;
    margin-top: 0.5rem;
    color: var(--cor-extra);
    text-decoration: none;
  }

  aside {
    position: relative;
    background: var(--tom-branco);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 25%;
    text-align: center;
  }

  aside h3 {
    margin-bottom: 1rem;
    font-weight: bolder;
  }

  aside ul {
    list-style: none;
  }

  aside ul li {
    margin-bottom: 1rem;
  }

  aside ul li a {
    text-decoration: none;
    color: var(--cor-extra);
  }

  .rating-system button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
  }

  textarea {
    border-radius: 4px;
    border: none;

    width: 60%;
    height: 80px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .stars {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
  }

  .star.selected,
  .star:hover,
  .star.hovered {
    color: gold;
  }

  footer {
    background: var(--cor-escura);
    color: var(--tom-branco);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  .newsletter {
    background: white;
    padding: 1rem;
    margin: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .newsletter input {
    padding: 0.5rem;
    width: 60%;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .newsletter button {
    padding: 0.5rem 1rem;
    border: none;
    background: var(--cor-destaque);
    color: var(--tom-branco);
    border-radius: 4px;
    cursor: pointer;
  }

  /* Dark mode */

  #toggle-dark-mode {
    color: var(--tom-branco);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 50%;
    cursor: pointer;
  }

  body.dark {
    background: var(--cor-escura);
    color: var(--tom-branco);
  }

  body.dark header,
  body.dark .newsletter,
  body.dark .newsletter input,
  body.dark aside,
  body.dark .articles article {
    background: var(--cor-escura);
    color: var(--tom-branco);
  }

  body.dark a {
    color: var(--cor-extra);
  }

  body.dark nav {
    background-color: var(--cor-escura);
  }

  body.dark button {
    color: var(--cor-escura);
  }
  body.dark button:hover {
    color: var(--tom-branco);
  }
  body.dark footer {
    background-color: var(--cor-clara);
    color: var(--cor-escura);
  }
  body.dark textarea {
    color: var(--tom-branco);
    background-color: var(--cor-escura);
    border: 1px solid var(--cor-clara);
  }
}

@media all and (min-width: 767px) {
  header img {
    width: 15%;
    border: none;
    padding: 0px;
    margin: 0px;
  }

  header .logo {
    font-size: 4.5em;
    font-weight: bold;
  }

  .articles article img {
    width: 21vw;
    height: 15vw;
    border-radius: 8px;
  }

  aside {
    position: relative;
    background: var(--tom-branco);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50%;
  }
  .rating-system button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 46%;
  }
}
