@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: #16ff8f;
  --cor-escura: #2d3330;
  --cor-clara: #bcf7db;
  --cor-destaque: #69f5cb;
  --cor-extra: #50c787;
  -cor-escura-extra: #355250;
  --tom-branco: #f2faf5;
  --fonte: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media all and (min-width: 320px) {
  body {
    font-family: var(--fonte);
    background: var(--tom-branco);
    color: #333;
  }

header {
  color: var(--cor-escura);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

  header img {
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
  }

  nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-extra);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    font-weight: bolder;
    font-size: .8em;
    list-style: none;
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 0px;
  }

  nav ul li {
    margin-left: .5rem;
  }

  nav ul li a {
    background-color: var(--cor-principal);
    color: #333;
    text-decoration: none;
    padding: 14px;
    border: none;
    border-radius: .3rem;
  }
  nav ul li a:hover {
    color: var(--tom-branco);
    transition: 0.5s;
  }

  .dark-mode {
    display: inline-block;
  }

  div button {
    height: 40px;
    width: 100px;
    background-color: var(--cor-principal);
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 5%;
    transition: 0.15s;
    display: flex;
    font-size: .7rem;
  }

  button:hover {
    filter: brightness(0.95);
    color: var(--tom-branco);
  }

  main {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  main h1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .articles article {
    background: var(--tom-branco);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }

  iframe {
    width: 280px;
    height: 280px;
    gap: -1rem;
  }


  footer {
    background: var(--cor-escura);
    color: var(--tom-branco);
    text-align: center;
    padding: .8rem;
    margin-top: 2rem;
    font-size: .7rem;
  }

  /* Dark Mode */

    #toggle-dark-mode {
    color: var(--tom-branco);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 50%;
    cursor: pointer;
  }

  body.dark {
    background: var(--cor-escura);
    color: var(--tom-branco);
  }

  body.dark header,
  body.dark aside,
  body.dark .articles article {
    background: var(--cor-escura);
    color: var(--tom-branco);
  }

    body.dark nav a {
    color: var(--cor-clara);
    background-color: var(--cor-extra);
  }

  body.dark nav a:hover {
    color: var(--cor-escura);
    
  }

  body.dark nav {
    background-color: var(--cor-escura);
  }

  body.dark button {
    color: var(--tom-branco);
    background-color: var(--cor-extra);
  }
  body.dark button:hover {
    color: var(--cor-escura);
  }

  body.dark footer {
    background-color: var(--cor-clara);
    color: var(--cor-escura);
  }

}

@media all and (min-width: 480px) {
  body {
    font-family: var(--fonte);
    background: var(--tom-branco);
    color: #333;
  }

  header {
  color: var(--cor-escura);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

  header img {
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
  }

  nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-extra);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    font-weight: bolder;
    font-size: 1.2em;
    list-style: none;
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }

  nav ul li {
    margin-left: 1rem;
  }

  nav ul li a {
    background-color: var(--cor-principal);
    color: #333;
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 8px;
  }
  nav ul li a:hover {
    color: var(--tom-branco);
    transition: 0.5s;
  }

  .dark-mode {
    display: inline-block;
  }

  div button {
    height: 50px;
    width: 120px;
    background-color: var(--cor-principal);
    border-radius: 0.3rem;
    border: none;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 1%;
    transition: 0.15s;
    display: flex;
  }

  button:hover {
    filter: brightness(0.95);
    color: var(--tom-branco);
  }


  main {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  iframe {
    width: 440px;
    height: 280px;
    gap: -1rem;
  }

  .articles article {
    background: var(--tom-branco);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    width: 200px;
    height: 500px;
  }
  main h1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .articles article h2 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  footer {
    background: var(--cor-escura);
    color: var(--tom-branco);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
}

@media all and (min-width: 767px) {
  header {
  color: var(--cor-escura);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-height: 600px;
 
}

  header img {
    object-fit: cover;
    width: 1920px;
    max-height: 600px;
    border: none;
    padding: 0px;
    margin: 0px;
  }
  
  iframe {
    width: 640px;
    height: 480px;
  }
}
